@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;500,700&display=swap');
:root
{
 --bg-black-900: #f2f2f2;
 --bg-black-100: #f2f2f2;
 --bg-black-50: #f2f2f2;
 --text-black-900:#302e4d;
 --text-black-900:#302e4d;
}
body
{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}
*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after
{
    box-sizing: border-box;

}
ul
{
    list-style: none;

}
.section
{
    background: var(--bg-black-100);
    min-height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: o;
    opacity: 1;

}
/*aside*/
.aside
{
    width:270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    
}
.aside .logo
{
     position: absolute;
     top: 50px;
     font-size: 30px;
     text-transform: capitalize;
}
.aside .logo a
{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}
.aside .logo a span
{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}